@import url("https://fonts.googleapis.com/css?family=Google+Sans");

/* apply the font to an element */
body {
  font-family: "Google Sans", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fbfd;
  /* border-bottom: 1px solid #dadce0; */
  height: 130px;
  padding: 0 16px;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06); */
}
.left {
  display: flex;
  /* gap: 16px; */
}
.logo {
  display: flex;

  margin-bottom: 3rem;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 16px;
}

.heading {
  display: flex;
  width: 55%;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: grey;
  /* font-weight: 500; */
}
.headIcon {
  display: flex;
  gap: 0.7rem;
  margin-right: 3rem;
}
.headIcon svg {
  font-size: 28px;
}
.options {
  margin-bottom: 3rem;
  display: flex;
  gap: 8px;
  /* margin-top: 4px; */
  font-size: 13px;
  color: rgb(93, 91, 91);
}

.icons {
  display: flex;
  justify-content: center;
  
  gap: 35px;
  
}

.icons svg {
  color: #5f6368;
  cursor: pointer;
  font-size: 20px;

  /* border: 2px solid black; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.icons svg:hover {
  background-color: #e7eaed;
}
.icons .MuiAvatar-root {
  height: 24px;
  width: 24px;
}
.dropbtn {
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
  background-color: #f9fbfd;


}

.dropdown {
 
  position: relative;
  display: inline-block;
    z-index: 1;
}

.dropdowncontent {
  display: none;
  position: absolute;
  color: black;
  width: 18vw;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  
}

.dropdowncontent a {
 
 padding-bottom: 1rem;
  text-decoration: none;
  display: block;
  color:black;
  display: flex;
  align-items: center;
  gap:"5px"


}
.dropdowncontent a span{
 
 
  text-decoration: none;
  display: block;
  color:black;
  display: flex;
  align-items: center;
  justify-content: start;

}

.dropdowncontent a:hover {
  background-color: rgb(225, 222, 222);
}

.dropdown:hover .dropdowncontent {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

 